{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="username">User</label>
    <input value="{{ last_username }}" name="username" id="username" class="form-control" required autofocus>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" class="form-control" required>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

    <button class="btn btn-lg btn-primary mt-3" type="submit">Sign in</button>
</form>
{% endblock %}
